
/*
 * Stolen from http://jtauber.github.io/articles/css-hexagon.html
 */

.hex::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 30px solid #AAA;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  top: -30px;
}

.hex {
  margin-top: 50px;
  width: 100px;
  height: 60px;
  background-color: #AAA;
  position: relative;
  transform: rotate(90deg);
}

.hex::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid #AAA;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex-col-even {
  float: left;
}

.hex-col-odd {
  float: left;
  margin-top: 55px;
}

.hex.alive::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 30px solid #6C6;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  position: absolute;
  top: -30px;
}

.hex.alive {
  background: #6C6;
}

.hex.alive::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid #6C6;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
